@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  /* max-width: 100%; */
}

.btn {
  display: block;
  font-size: 14px;
  background: #454890;
  width: 112px;
  height: 32px;
  border-radius: 32px;
  color: #fff;
  text-align: center;
  line-height: 30px;
}

/* header */
.header {
  height: 64px;
  display: flex;
  align-items: center;
  color: #fff;
  background: #000;
  padding: 0 40px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header ul {
  display: flex;
  margin-right: 60px;
}

.header ul li a {
  display: block;
  padding: 0 18px;
  height: 64px;
  line-height: 64px;
}

.nav a.on {
  color: #f83030;
}

.header .logo {
  margin-right: auto;
}

/* container */
.container {
  width: 1170px;
  margin: 0 auto;
}

/* slide */
.slide_container {
  margin-top: 64px;
  height: 700px;
  background: url("../images/bg4.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.container.slide {
  display: flex;
  height: 700px;
  justify-content: center;
  flex-direction: column;
}

.slide_container h2 {
  font-size: 64px;
  font-weight: 800;
}

.slide_container p {
  font-size: 18px;
  padding: 20px 0 26px;
  line-height: 1.6;
}

.slide_btn {
  display: block;
  width: 200px;
  height: 60px;
  background: #454890;
  line-height: 60px;
  text-align: center;
  border-radius: 6px;
}

.section_btn {
  display: block;
  width: 200px;
  height: 60px;
  background: #d9232e;
  line-height: 60px;
  text-align: center;
  border-radius: 6px;
}

/* content */
.content {
}

/* section_01 */

.section.sec_01 {
  height: 600px;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  padding: 135px 0;
}

.section.sec_02 {
  height: 600px;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  padding: 135px 0;
}

.sec_01 .container,
.sec_02 .container {
  padding: 0 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.section .text {
  width: 470px;
  line-height: 1.4;
}

.section .text h4 {
  font-size: 32px;
  padding-top: 26px;
  margin-bottom: 24px;
}

.section .text p.txt_01 {
  font-size: 18px;
  margin-bottom: 30px;
}

.section .text p:last-child {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
  line-height: 1.5;
}

.section .text .avatar {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.section .text .avatar img {
  width: 40px;
  margin-right: 14px;
}

.section .text .avatar span {
  font-size: 14px;
}

.sec_01 .photo,
.sec_02 .photo {
  width: 470px;
  height: 300px;
}

/* section_03 */
.sec_03 {
  background: #f0f5f9;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 120px 0;
  box-sizing: border-box;
}

.sec_03 h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.sec_03 p {
  font-size: 20px;
  color: #666;
  margin-bottom: 50px;
  line-height: 1.4;
}

.btn2 {
  background: #454890;
  color: #fff;
  padding: 18px 26px;
  border-radius: 55px;
}
